@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração de projeto padrão */
html,
body {
  height: 100%;
}

body {
  @apply bg-myBlack;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mostrar em qual página da navbar você está */
.active {
  color: #f9963a;
}
